<html>
	<head>
		<title>Sem Acesso</title>
		<script type="text/javascript">
			function goBack(){
				javascript:history.back(-2);
			}
		</script>
	</head>
	<body>
		<h2>Ops!!</h2>
		<button onClick="goBack()">Voltar</button>
	</body>
</html>