<!-- Main -->
<div id="main">

  <div class="box container">
    <header>
      <h2>:: Quem Somos</h2>
    </header>
    <section style="text-align: justify;">
      <p>A ExtraMed é uma indústria de produtos médicos e hospitalares. Nós produzimos e distribuímos materiais e suprimentos para consultórios, clínicas, farmácias, hospitais e distribuidoras.</p>

    <p>Com foco na qualidade total dos nossos produtos, a ExtraMed tem o objetivo de oferecer ao mercado médico, farmacêutico, hospitalar e odontológico os melhores serviços e produtos, que atendem com excelência todas as normas exigidas pelos órgãos competentes.</p>

    </section>
  </div>

  <header class="major container 75%">
    <h2 style="color: #0c3981">Estamos preparando um
    <br />
    ambiente para você conhecer
    <br />
    toda nossa linha de produtos.</h2>
    <!--
    <p>Tellus erat mauris ipsum fermentum<br />
    etiam vivamus nunc nibh morbi.</p>
    -->
  </header>

  <div class="box alt container">
    <section class="feature left">
      <a class="image icon fa-phone"><img src="/images/pic01.jpg" alt="" /></a>
      <div class="content">
        <h3 style="color: #0c3981">:: Telefones</h3>
        <p>(35) 3015-4000 | (35) 3715-1058 | (35) 3713-2816 | 0800 606 6048</p>
      </div>
    </section>
    <section class="feature right">
      <a class="image icon fa-map-marker"><img src="/images/pic02.jpg" alt="" /></a>
      <div class="content">
        <h3>:: Endereço</h3>
        <p>Travessa São José, 80 – Chácara Alvorada 37.708-150 - Cidade: Poços de Caldas - MG</p>
      </div>
    </section>
  </div>

</div>

<!-- Footer -->
<div id="footer">
  <div class="container 75%">

    <header class="major last" id="contato">
      <h2>Entre em Contato</h2>
      <p style="font-size: 15px;">(35) 3015-4000 | (35) 3715-1058 | (35) 3713-2816 | 0800 606 6048</p>
    </header>
    <?php 
      if( $this->mensagem ) {
        echo '<p>Sua mensagem foi enviada com sucesso, em breve nossa equipe irá entrar em contato com você.</p>';
      }
    ?>

    <form method="post" action="">
      <div class="row">
        <div class="6u 12u(mobilep)">
          <?= $this->form->nome ?>
        </div>
        <div class="6u 12u(mobilep)">
          <?= $this->form->email ?>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <?= $this->form->mensagem ?>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <ul class="actions">
            <li><input type="submit" value="Enviar Mensagem" /></li>
          </ul>
        </div>
      </div>
    </form>

    <!--<ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>-->

    <ul class="copyright">
      <li>&copy; Todos os Direitos Reservados - Extrame Brasil</li><li>Desenvolvido por: <a href="http://wespanha.com.br" target="_blank">WEspanha Comunicação Inteligente</a></li>
    </ul>

  </div>
</div>