<!DOCTYPE HTML>
<!--
  Directive by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="pt-br">
  <head>
    <title>Extramed Brasil - Indústria de produtos médicos e hospitalares.</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Extramed Brasil - Indústria de produtos médicos e hospitalares.">
    <meta name="keywords" content="Extramed Brasil, ExtramedBr, Hospital, Hospitalar, Produtos hospitalares, medicamento, farmacia, varginha, minas gerais">
    <meta name="author" content="WEspanha Comunicação Inteligente">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:locale" content="pt_BR">

    <meta property="og:url" content="http://<?=$_SERVER['HTTP_HOST']?><?=$_SERVER['REQUEST_URI']?>">

    <meta property="og:title" content="Extramed Brasil - Indústria de produtos médicos e hospitalares.">
    <meta property="og:site_name" content="Extramed Brasil">

    <meta property="og:description" content="Extramed Brasil - Indústria de produtos médicos e hospitalares.">

    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600"> 

    <meta property="og:type" content="website">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
  </head>
  <body>

    <!-- Header -->
      <div id="header">
        <a href="/"><img src="/images/logo_extramed_brasil.png" style="width: 38%" /></a>
        <br/>
        <p>Indústria de produtos médicos e hospitalares.</p>
      </div>

    <?php echo $this->layout()->content; ?>

    <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/skel.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="/assets/js/main.js"></script>

  </body>
</html>